# etc/systemd/system/agrodrone-flightplan-upload.service
[Unit]
Description=Sends mission to the onboard Pi to be uploaded
# connect to the Pi target
After=network-online.target

[Service]
Type=oneshot
User=sr-design
WorkingDirectory=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/src
EnvironmentFile=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/.onboard.env
ExecStart=/usr/bin/sh ./flightplan_upload.sh

[Install]
WantedBy=multi-user.target