# etc/systemd/system/agrodrone-flightplan.service
[Unit]
Description=AgroDrone flightplan retrieving service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=sr-design
ExecStart=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/venv/bin/python flight_plan.py
WorkingDirectory=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/src
EnvironmentFile=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/.env

[Install]
WantedBy=multi-user.target