# etc/systemd/system/agrodrone-mosaic.service
[Unit]
Description=AgroDrone flightplan retrieving service
After=network-online.target

[Service]
Type=simple
User=sr-design
WorkingDirectory=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/src
EnvironmentFile=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/.env
ExecStart=/home/sr-design/AgroDroneSystem/AgroDrone-Edge-Node/venv/bin/python mosaic.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target