# etc/systemd/system/agrodrone-flightplan-upload.service
[Unit]
Description=Sends mission to the onboard Pi to be uploaded
After=network-online.target # connect to the Pi target

[Service]
Type=simple
User=sr-design
WorkingDirectory=/home/sr-design/AgroDrone-Edge-Node/src
EnvironmentFile=/home/sr-design/AgroDrone-Edge-Node/.onboard.env
ExecStart=/usr/bin/sh flightplan_upload.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target